# Pandas DataFrames

## What is a DataFrame?
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [1]:
import pandas as pd

In [2]:
data = {"calories": [420, 380, 390],
        "duration": [50, 40, 45]}

# Carregando os dados em um Objeto DataFrame do pandas
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

## Locate Row
As you can see from the result above, the DataFrame is like a table with rows and columns.

Pandas use the loc attribute to return one or more specified row(s)

In [ ]:
print(df.loc[0]) # Retorna a linha indicada. Nesse caso a primeira.

calories    420
duration     50
Name: 0, dtype: int64

In [ ]:
print(df.iloc[0])
print(type(df.iloc[0])) # Retorna um objeto pada series pois é apenas uma linha.

calories    420
duation      50
Name: day1, dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
# É necessário usar dois conjuntos de [] pois 1 é do proprio método loc[] e outro é da lista [0, 1]
print(df.loc[[0,1]]) # retorna as linhas 0 e 1

   calories  duration
0       420        50
1       380        40

## Named Indexes
With the index argument, you can name your own indexes.

In [10]:
data = {
    "calories": [420, 380, 390],
    "duation": [50, 40, 45]
}

df = pd.DataFrame(data, index=["day1", "day2", "day3"])

print(df)

      calories  duation
day1       420       50
day2       380       40
day3       390       45

## Locate Named Indexes
Use the named index in the loc attribute to return the specified row(s).

In [11]:
# Se referindo pelo index
print(df.loc["day2"])

calories    380
duation      40
Name: day2, dtype: int64

In [12]:
print(df.loc[["day1","day2"]])

      calories  duation
day1       420       50
day2       380       40

## Load Files Into a DataFrame
If your data sets are stored in a file, Pandas can load them into a DataFrame.

In [19]:
# se usarmos data não funciona poie é apenas um dicionário. Quando usadmos df, o qual deve o dicionario atribuido a ele, funciona pois foi feito atarvés de um método assim o tornando um objeto pandas. 
df.to_csv('data.csv', index=False)

In [ ]:
df2 = pd.read_csv('data.csv') # leitura de arquivo csv

print(df2)

   calories  duation
0       420       50
1       380       40
2       390       45

In [ ]:
df.head(10) # retorna os primeiros 10 heads de um dataframe

# se não especificar os número são retornados apenas os primeiros 5

      calories  duation
day1       420       50
day2       380       40
day3       390       45